<script>

var data = [{'title':'SpaceX undercut ULA rocket launch pricing by 40 percent: U.S. Air Force',
'location':'http://www.reuters.com/article/us-space-spacex-launch-ula-idUSKCN0XP2T2'},
{'title':'Teen birth rate hits all-time low, led by 50% decline among Hispanics and blacks (washingtonpost.com)',
'location':'https://www.washingtonpost.com/news/to-your-health/wp/2016/04/28/teen-birth-rate-hits-all-time-low-led-by-50-percent-decline-among-hispanics-and-blacks/?hpid=hp_hp-top-table-main_teen-births-115pm%3Ahomepage%2Fstory'}]

data.forEach(function(element, index, array) {
    window.open(element.location,'_newtab'+index);
});

window.location.href = "https://news.ycombinator.com/";
</script>
